<web-app>
    <servlet>
        <servlet-name>MovieURL</servlet-name>
        <servlet-class>MovieURL</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MovieURL</servlet-name>
        <url-pattern>/movieurl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RestoreMovieURL</servlet-name>
        <servlet-class>RestoreMovieURL</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestoreMovieURL</servlet-name>
        <url-pattern>/restoremovieurl</url-pattern>
    </servlet-mapping>
</web-app>
